---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
 background: black; 
}

body {
 background-color: black;
}

#main_title {
  text-decoration: none;
}

#darbsdev {
  text-align: center;
  font-size: xxx-large;
}

#nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

    #nav li {
    display: inline;
    margin: 0 10px;
    }

#links {
  list-style-type: none;
  text-align: right;
}

    #links li {
      display: inline;
      margin: 0 10px;
    }

a {
  color: lightpink;
  font-size: x-large;
  text-decoration: none;
}

a:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.markdown-body {
  font-family: 'VT323', monospace;
  color: lightgreen;
  
}

.markdown-body h1 {
 border-bottom: 2px dashed lightgreen;
}

.markdown-body h2 {
  padding-top: 2em;
  border-bottom: 2px dashed lightgreen;
}

hr {
  border-top: 2px dashed lightgreen;
}


/* BLINKING ANIMATION */
.blinking {
  background-color: lightgreen;
  -webkit-animation: blinking 2s infinite;
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0% {
      background-color: transparent;
  }
  49% {
      background-color: transparent
  }
  50% {
      background-color: lightgreen;
  }
}