---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
 background: black; 
}

body {
 background-color: black;
}

#nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#nav li {
 display: inline;
}

.markdown-body {
  font-family: 'VT323', monospace;
  color: lightgreen;
  
}

.markdown-body h1 {
 border-bottom: 2px dashed lightgreen;
}

.markdown-body h2 {
  padding-top: 2em;
  border-bottom: 2px dashed lightgreen;
}

hr {
  border-top: 2px dashed lightgreen;
}
